@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-font: "Roboto", sans-serif;
  --base-font-size: 16px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--primary-font);
  font-size: var(--base-font-size);
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
}
